[data-theme='light'] {
  --bg-color: #fdfdfd;
  --text-color: #1e1e1e;
  --bg-color-table: #ffffff;
  --bg-color-table-th: #f0f0f0;
  --bg-color-gray: #e6e6e6;
  --button-color-search: #3b83f6bd;
  --text-color-pokemonName: #001a44bd;
  --text-color-desc: #000 !important;
  --bg-color-input: rgba(255, 0, 0, 0.4) !important

;
}
[data-theme='dark'] {
  --bg-color: #242424 !important;
  --text-color: #f5f5f5 !important;
  --bg-color-table: #1e1e1e !important;
  --bg-color-table-th: #2a2a2a !important;
  --bg-color-gray: #121212 !important;
  --button-color-search: #4e4e4e !important;
  --text-color-pokemonName: #aaffaa !important;
  --text-color-desc: #ccc !important;
  --bg-color-input: rgba(255, 255, 255, 0.1) !important
;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  cursor:
    url('/cursor.cur') 16 16,
    auto;
  font-family: 'Press Start 2P', monospace;
}

ul {
  list-style: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color-search);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.error-message {
  color: red;
}
