.cursorGlow {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -70%);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 70%
  );
  box-shadow:
    0 0 8px rgba(255, 0, 0, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
  z-index: 9999;
  mix-blend-mode: screen;
  opacity: 0.5;
}
