.cursorGlow {
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -70%);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 70%
  );
  box-shadow:
    0 0 6px rgba(255, 0, 0, 0.5),
    0 0 12px rgba(255, 255, 255, 0.2);
  z-index: 9999;
  mix-blend-mode: screen;
  opacity: 0.4;
}
